.circleci
.github
.husky/
.vscode/
node_modules/
coverage/
scripts/
src/
.codeclimate.yml
.commitlintrc.cjs
.cspell.json
.eslintignore
.eslintrc.cjs
.gitattributes
.gitignore
.npmignore
.prettierrc
.releaserc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
junit.xml
tsconfig.json
tsconfig.build.json
vitest.config.ts
